<div class="row">
  <div class="col">

    <img src="../../assets/images/wood.png" class="img-fluid wood-image">
    <h2 class="section-headline"><span>My Account</span></h2>
    <img src="../../assets/images/logo.png" class="rounded logo-image"/>

  </div>
</div>

<div class="row" style="margin-top:80px;">
  <div class="col-lg-3"></div>

  <div class="col-lg-9">

    <div class="card">
      <div class="card-body" style="background-color:#ededed;">

        <mat-tab-group>

          <mat-tab label="Login">

            <div *ngIf="loginError" style="color:red;margin-top:15px;">
              Invalid Username or Password
            </div>

            <form (ngSubmit)="onLogin()" style="margin-top:15px;">

              <div class="form-group">

                <label for="username">UserName *</label>
                <input type="text" class="form-control" name="username" id="username"
                       [(ngModel)]="credential.username" required autofocus="autofocus">
                <p style="color:#828282;">Enter Your Username</p>

              </div>

              <div class="form-group">

                <label for="password">Password*</label>
                <input type="password" class="form-control" name="password" id="password"
                       [(ngModel)]="credential.password">
                <p style="color:#828282">Enter Password</p>
              </div>

              <button mat-raised-button class="mat-primary" type="submit">Log In</button>

            </form>

          </mat-tab>

          <mat-tab label="New Account">

            <div *ngIf="emailSent" class="alert alert-info">
              An email has been sent to your registered email,please
              validate and update your password.
            </div>

            <form (ngSubmit)="onNewAccount()" style ="margin-top:15px;">

              <div class="form-group">

                <label for="userid">Username*</label>&nbsp;
                <span *ngIf="userNameExists" class = "text-danger" >Username Exists</span>
                <input type="text" class="form-control" id="userid"
                       name="userid" [(ngModel)]="username">

                <p style="color:#828282;">Enter UserId</p>
              </div>

              <div class="form-group">

                <label for="email">Email*</label>&nbsp;
                <span *ngIf="emailExists" class = "text-danger"> Email already Registered</span>
                <input type="email" class="form-control" id="email"
                       name="email" [(ngModel)]="email" email>
                <p style="color:#828282">Enter Your Email Address</p>
              </div>

              <button mat-raised-button type="submit" class="mat-primary">Create New Account</button>

            </form>
          </mat-tab>

          <mat-tab label="Forget Password">
            <div style="margin-top:15px;">
              <div *ngIf="emailNotExists" class="alert alert-info">Email Doesnot Exists</div>
              <div *ngIf="forgotPasswordEmailSent" class="alert alert-success">Email Sent Successfully</div>
            </div>
            <form (ngSubmit)="onForgetPassword()">

              <div class="form-group">

                <label for="recoverEmail">Your Email Address*</label>
                <input type="email" class="form-control" id="recoverEmail"
                       name="recoverEmail" [(ngModel)]="recoverEmail" email>
                <p style="color:#828282">Enter your registered email address</p>
              </div>

              <button mat-raised-button type="button" class="mat-primary" (click) = "onForgetPassword()">Submit</button>

            </form>
          </mat-tab>


        </mat-tab-group>


      </div>
    </div>
  </div>

</div>
